# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
out/
.next/
.nuxt/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cache
.cache/
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache

# Other
.temp/
.tmp/
*.tgz
*.zip
*.tar.gz
